.NewPost {
    width: 80%;
    margin: 20px auto;
    border: 2px solid #eee;
    /*box-shadow: 0 2px 3px #ccc;*/
    text-align: center;
    color: white;
    border-radius: 10px;
}

.NewPost label {
    display: block;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.NewPost input,
.NewPost textarea,
.NewPost select {
    display: block;
    width: 80%;
    box-sizing: border-box;
    border: 2px solid white;
    outline: none;
    font: inherit;
    margin: auto;
}

.NewPost button {
    margin: 16px 0;
    padding: 10px;
    font: inherit;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.NewPost button:hover,
.NewPost button:active {
    color: white;
    background-color: #fa923f;
}